#a1{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#a2{
    width: 1160px;
    height: auto;
    border: 1px solid #6868688f;
}
#a3{
    width: auto;
    height: auto;
    position: sticky;
}
#a4{
    width: auto;
    height: auto;
    position: fixed;
    top: 100px;
    bottom: 150px;
    left: 124px;
    overflow-y: auto;
}
.op{
    position: sticky;
    top: 50px;
    width: 60px;
    height: 0;
    right: 0;
    cursor: pointer;
    left: 1536px;
}
.i1>p {
  
  /* line-height: 30px; */
  cursor: pointer;

  
}

ul li{
  list-style: none;
}
/* ul {
  text-align: center;
} */
ul>li>ul>li {
  list-style: none;
  text-align: start;
  cursor: pointer;

  box-shadow: 1px 1px 0px #ccc;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.red{
  color: rgb(0 25 255 / 66%);;
}











body,
div,
h4,
html,
li,
span,
ul {
    padding: 0;
    margin: 0;
}

li{
    text-align: none;
}

/* div {
    display: block;
    unicode-bidi: isolate;
}

body {
    font-family: "Microsoft YaHei", Arial, sans-serif, "PingFang SC";
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
} */

.css-button-shadow-border-sliding--sand {
    text-align: center;
    min-width: 130px;
    height: 24px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #adb5bd;
   z-index: 1;
  }
  .css-button-shadow-border-sliding--sand:hover:after {
    width: 100%;
    left: 0;
  }
  .css-button-shadow-border-sliding--sand:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: #ced4da;
    right: 0;
  }
  .css-button-shadow-border-sliding--sand:active {
    top: 2px;
}



.css-button-sharp--sand {
  text-align: center;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid #adb5bd;
  background: #adb5bd;
}
.css-button-sharp--sand:hover {
  background: #fff;
  color: #adb5bd
}




.css-button-arrow--grey {
    text-align: center;
    min-width: 130px;
    height: 24px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #6c757d
  }
  .css-button-arrow--grey:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
  }
  .css-button-arrow--grey:hover:after {
    opacity: 1;
    right: 10px;
  }
  .css-button-arrow--grey:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }